<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&amp;display=swap" rel="stylesheet">

    <title>CONDOSA</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet">

    <style>
        .navbar-custom {
            background-color: #2774e8;
        }

        .navbar-dark .navbar-brand {
            font-family: 'Relaway', sans-serif;
            font-size: 40px;
        }

        /* Estilos para el modo oscuro */
        body.dark-mode {
            background-color: #222222;
            color: #ffffff;
        }

        body.dark-mode .navbar-custom {
            background-color: #111111;
        }

        body.dark-mode .table-header {
            background-color: #000000;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark navbar-custom">
        <a class="navbar-brand" href="/">CONDOSA</a>
        <!-- Agregar el botón para el modo oscuro -->
        <button class="btn btn-dark" id="dark-mode-toggle">Modo oscuro</button>
    </nav>

    <div class="container pt-4">
        <div class="row">
            <h3>Registro de recaudaciones en Condosa</h3>
        </div>
        {% block body %}
        <div class="row">
            <div class="col-md">
                <form method="POST" action="/agregar" class="form-inline">
                    <div class="form-row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="fecha_operacion">Fecha operacion:</label>
                                <input type="text" class="form-control" placeholder="aaa-mm-dd" id="fecha_operacion" name="fecha_operacion" required/>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="moneda">Moneda:</label>
                                <select class="form-control" id="moneda" name="moneda" required>
                                    <option value="soles">Soles</option>
                                    <option value="dolares">Dólares</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="importe">Importe:</label>
                                <input type="text" class="form-control" id="importe" name="importe" required/>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="estado">Estado:</label>
                                <select class="form-control" id="estado" name="estado" required>
                                    <option value="Validado">Validado</option>
                                    <option value="Rechazado">Rechazado</option>
                                    <option value="Anulado">Anulado</option>
                                    <option value="Registrado">Registrado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="id_cuenta_predio">Predio</label>
                                <input type="text" class="form-control" id="id_cuenta_predio" name="id_cuenta_predio" required/>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="observacion">Observacion</label>
                                <input type="text" class="form-control" id="observacion" name="observacion" required/>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary ml-3">Agregar</button>
                </form>
                <br/>
                <table id="example" class="table table-striped table-bordered" style="width: 100%">
                    <thead>
                        <tr>
                            <th class="table-header">N°</th>
                            <th class="table-header">Id Recaudación</th>
                            <th class="table-header">Nro operación</th>
                            <th class="table-header">Fecha</th>
                            <th class="table-header">Importe</th>
                            <th class="table-header">Estado</th>
                            <th class="table-header">Predio</th>
                            <th class="table-header">Observación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for indice, dato in datos %}
                        <tr>
                            <td>{{ indice }}</td>
                            <td>{{ dato[0] or 'null' }}</td>
                            <td>{{ dato[3] or 'null' }}</td>
                            <td>{{ dato[4] or 'null' }}</td>
                            <td>{{ dato[5] or 'null' }}</td>
                            <td>{{ dato[6] or 'null' }}</td>
                            <td>{{ dato[7] or 'null' }}</td>
                            <td>{{ dato[8] or 'null' }}</td>
                            <td>
                                <a href="/edit/{{dato.0}}">Edit</a>
                                <a href="/delete/{{dato.0}}">Delete</a>
                            </td>  
                        </tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            // Configurar el selector de fecha
            $('#fecha_operacion').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });

            // Inicializar el DataTable
            $('#example').DataTable();

            // Manejar el cambio al modo oscuro
            $('#dark-mode-toggle').on('click', function () {
                $('body').toggleClass('dark-mode');
            });
        });
    </script>
</body>
</html>
