{%extends 'base-user.html'%}
{%block title%}RECAUDACIONES{%endblock%}
{%block header%}

{%endblock%}
{%block content%}
<link rel="stylesheet" href="{{url_for('static',filename='css/recaudacion.css')}}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!--Formulario-->
<form class="container-form">
    <!--INFO PERSONAL-->
    <div class="form-apartado" id="info_personal">
        <div class="apartado-titulo">INFORMACIÓN PERSONAL</div>     
        
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Nro documento: </span>
            </label>
            <input 
            name=""
            type="text"
            class="form-control"
            required >
        </div> 
                
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Nombre </span>
            </label>
            <input type="text" name="" required readonly
            value="">
        </div>  

        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Banco: </span>
            </label>
            <input type="text" name=" " required readonly
            value="">
        </div> 

        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Moneda: </span>
            </label>
            <input type="text" name=" " required readonly
            value="">
        </div> 

        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Nro cuenta: </span>
            </label>
            <input type="text" name=" " required readonly
            value="">
        </div> 

    </div>

    <!--PREDIO-->
    <div class="form-apartado" id="info_predio">
        <div class="apartado-titulo">INFORMACIÓN DEL PREDIO</div>        
    </div>
    <!--RECIBO-->
    <div class="form-apartado" id="info_recibo">
        <div class="apartado-titulo">INFORMACIÓN DEL RECIBO</div>
               
    </div>

    <!--RECAUDACION-->
    <div class="form-apartado" id="info_recaudacion">
        <div class="apartado-titulo">INFORMACIÓN DE RECAUDACION</div>        
    </div>

</form>

{%endblock%}